div{
    /*border: 1px solid black;*/
	padding: 10px;
}

header {
	text-align: center;
    border-bottom: 1px solid grey;
}

main {
    min-height: 300px;
}

.row {
margin: 0;
}

.button {
	display: inline-block;
	border: 1px solid black;
	padding: 7px;
	color: black;
    margin-left: 10px;
}

footer {
    margin-top: 15px;
    border-top: 1px solid grey;
	text-align: center;
}
